/*- [ Gantt BEGIN ] --------------------------- */

.sousNavBulle .sousNavCheck a {
  border:0;
  color:var(--color-text-filtre);
  background:var(--bgColor-filtre-hover) url(../../../util/icons/check_off.png) 0px 0px no-repeat;
  padding:0 1em;
  margin:0 0.5em;
}

.sousNavBulle .sousNavCheck a:hover{
  color:var(--color-text-filtre-hover);
  background-image:url(../../../util/icons/check_on.png);
  background-color:var(--bgColor-filtre-hover);
}
 .sousNavBulle .sousNavCheck a:focus{
   color:var(--color-text-filtre-hover);
}

.sousNavBulle .sousNavCheck a.active{
  color:#333;
  background-image:url(../../../util/icons/check_on.png);
}

.ganttMois {
  border-bottom:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
}

.ganttMois img {
  border:0px;
}

#month_nav, #trimester_nav  {
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;
  font-size:0.9em;
  background-color:#EAEAEA;
  border-top:1px solid #CCCCCC;
  border-left:1px solid #CCCCCC;
  padding:4px 0;
}

#trimester_nav span {
  text-transform:none;
  font-weight:normal;
  color:#666666;
}



#month_nav img , #trimester_nav img {
  vertical-align:middle;
  margin:0 50px;

}

.ganttMois tr { height:18px;}

.ganttMois tbody tr:first-child td {
  border-top:0px solid #CCCCCC;
}

.ganttMois tbody tr td {
  border-top:1px solid #CCCCCC;
}
.ganttMois tbody tr td div {
  position:relative;
  }

.week_begin, .month_begin, .most_left{
  border-left:1px solid #CCCCCC;
}
.ganttMois tbody tr.under_task td, .ganttMois tbody tr.under_taskN2 td, .ganttMois tbody tr.under_taskN3 td{
  border-top:0px solid #CCCCCC;
}

.ganttMois thead td{  
  font-size: 0.9em;
  color:#333;
  border-bottom:1px solid #CCCCCC;
}
.ganttMois thead td.noBorder, .ganttMois thead tr.noBorder td{
  border-bottom:0;
}


#week_number td, #month_wording td, td.week_number , td.month_number{
  text-align:center;
}

#day_number td {
  color:#666;
  padding:0.25em;
  text-align:center;
}

.day_odd {
  background-color:#EBEBEB;
}

.state {
  border-left:1px solid #CCCCCC;
  padding-left:8px;
  width:100px;
}

.task_wording {
  white-space:nowrap;
  width:250px;
}


.state p, .task_wording div, .percentage p{
  white-space:nowrap;
  overflow:hidden;
  display:block;
  margin:0;
  padding:0;
  }
.ganttMois thead td.state, .ganttMois thead td.task_wording{
  padding-left:0.5em;
  color:#666;
  font-size:0.9em;
  border-left:0;
}

.numerotation{
  color:#666;
  font-size:0.9em;
  border:0;
  padding-right:0.5em;
  width:1em;
}

.ganttMois tbody tr td.numerotation {
  border:0;
}

.percentage {
  border-left:1px solid #CCCCCC;
  padding:0 0.5em;
  text-align:right;
}

td.day { text-align:center; }


.task_wording div {
	position:relative;
	padding:0 0 0 1em;
}

.task_wording div a.linkSee {
	position:absolute;
	top:-2px; left:0px;
	display:block;
	}

.task_wording div a.linkSee img{
	vertical-align:top;
	}
.under_task .task_wording div{
	margin-left:25px;

}

.level2  .task_wording div{
    margin-left:50px;
}

.level3  .task_wording div{
    margin-left:75px;
}

.level4  .task_wording div{
    margin-left:100px;
}

.level5  .task_wording div{
    margin-left:125px;
}

.level6  .task_wording div{
	margin-left:150px;
}

.level7  .task_wording div{
	margin-left:175px;
}

#legendLabelId {
	cursor:pointer;
	float:right;
}

#legende, #legende ul {
  list-style-type:none;
  padding:0;
  margin:10px 0 0 0;
  display:none;
}

#legende li {
  display: block;
  float: left;
  margin-bottom: 10px;
  width: 240px;
}
#legende li div { margin-right:10px;}
#legende li.centPourcent, .centPourcent {
  width: 100%;
  }
#legende ul {
  margin:1em;
}


/* affichage des bandes qui symbolise les taches */


/* Not started (normal task)*/
.task div, .task_start div , .task_end div  {
 margin:0.25em 0;
 height:1em;
}

.task_start > div{
  border-radius:1em 0 0 1em;
}

.task_end > div  {
  border-radius:0 1em 1em 0 ;
}

.lenght_oneDay > div {
  border-radius:1em ;
}

.task span, .task_start span , .task_end span{ display:none;}


.task_start.day_unworked> div,
.task_end.day_unworked> div,
.task.day_unworked> div {
  background-color:transparent !important;
}

#legende .task {
  width:90px;
  float:left;}

#legende  .task.day_unworked {
  width:30px;
  float:left;
}

/* IN_PROGRESS */
.in_progress .task > div,
.in_progress .task_start > div,
.in_progress .task_end > div {
 background-color:#7CBF23;
 border:1px solid #7CBF23;
}

.in_progress .state { color:#7CBF23}

#legende .in_progress {
  border-radius:0.5em;
  height:1em;
 background-color:#7CBF23;
 border:1px solid #7CBF23;
}

/* DONE #217b63 */
.done .task > div,
.done .task_start > div,
.done .task_end > div {
 background-color:#217b63;
 border:1px solid #217b63;
}

.done .state { color:#217b63}

#legende .done {
  border-radius:0.5em;
  height:1em;
 background-color:#217b63;
 border:1px solid #217b63;
}

/* NOT_STARTED #b2b9aa */
.not_started .task > div,
.not_started .task_start > div,
.not_started .task_end > div {
 background-color:#b2b9aa;
 border:1px solid #b2b9aa;
}

.not_started .state { color:#b2b9aa}

#legende .not_started {
  border-radius:0.5em;
  height:1em;
 background-color:#b2b9aa;
 border:1px solid #b2b9aa;
}


/* LOST */
.lost .task > div,
.lost .task_start > div,
.lost .task_end > div {
 background-color:#e54722;
 border:1px solid #e54722;
}

.lost .state { color:#e54722}

#legende .lost {
  border-radius:0.5em;
  height:1em;
 background-color:#e54722;
 border:1px solid #e54722;
}

/* WARNING */
.warning .task > div,
.warning .task_start > div,
.warning .task_end > div {
 background-color:#e99510;
 border:1px solid #e99510;
}

.warning .state { color:#e99510}

#legende .warning {
  border-radius:0.5em;
  height:1em;
 background-color:#e99510;
 border:1px solid #e99510;
}


/* FROZEN */
.frost .task > div,
.frost .task_start > div,
.frost .task_end > div {
 background-color:#47B8D8;
 border:1px solid #47B8D8;
}

.frost .state { color:#47B8D8}

#legende .frost {
  border-radius:0.5em;
  height:1em;
 background-color:#47B8D8;
 border:1px solid #47B8D8;
}


/*- [ Gantt END ] --------------------------- */