<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  <display-name>webSites War</display-name>
  <description>no description</description>
  <servlet>
    <servlet-name>WebSitesRequestRouter</servlet-name>
    <display-name>WebSitesRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.webactiv.webSites.servlets.WebSitesRequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSitesRequestRouter</servlet-name>
    <url-pattern>/RwebSites/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebSitesRequestRouter</servlet-name>
    <url-pattern>/Rbookmark/*</url-pattern>
  </servlet-mapping>
</web-app>