<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright (C) 2000 - 2009 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have recieved a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app versio="2.4">
  <display-name>mailingList War</display-name>
  <description>Component managing Mailing List</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/config/spring-hibernate.xml /WEB-INF/config/spring-notification.xml /WEB-INF/config/spring-checker.xml
      /WEB-INF/config/spring-datasource.xml
    </param-value>
  </context-param>

  <servlet>
    <servlet-name>springContext</servlet-name>
    <description>Servlet pour charger le context Spring</description>
    <servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>MailingListRssServlet</servlet-name>
    <display-name>MailingListRssServlet</display-name>
    <description>Servlet produisant un flux RSS pour une mailing list</description>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.RssMailingListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MailingListRequestRouter</servlet-name>
    <display-name>MailingListRequestRouter</display-name>
    <description>Servlet controller pour le composant mailinglist</description>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.MailingListRequestRouter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GoToMailingListMessage</servlet-name>
    <display-name>GoToMailingListMessage</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.GoToMessage</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MailingListAttachmentServlet</servlet-name>
    <display-name>MailingListAttachmentServlet</display-name>
    <description>Servlet to download mail attachment</description>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.AttachmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MailingListRssServlet</servlet-name>
    <url-pattern>/rssmailinglist/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MailingListRequestRouter</servlet-name>
    <url-pattern>/Rmailinglist/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MailingListAttachmentServlet</servlet-name>
    <url-pattern>/mailingListAttachment/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GoToMailingListMessage</servlet-name>
    <url-pattern>/mailinglistMessage/*</url-pattern>
  </servlet-mapping>
</web-app>