<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2012 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<web-app version="2.4">
  <display-name>mailingList War</display-name>
  <description>Component managing Mailing List</description>

  <servlet>
    <display-name>MailingListRssServlet</display-name>
    <servlet-name>MailingListRssServlet</servlet-name>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.RssMailingListServlet</servlet-class>
  </servlet>

  <servlet>
    <display-name>MailingListRequestRouter</display-name>
    <servlet-name>MailingListRequestRouter</servlet-name>
    <description>Servlet controller pour l'application mailinglist</description>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.MailingListRequestRouter</servlet-class>
  </servlet>

  <servlet>
    <display-name>GoToMailingListMessage</display-name>
    <servlet-name>GoToMailingListMessage</servlet-name>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.GoToMessage</servlet-class>
  </servlet>

  <servlet>
    <display-name>MailingListAttachmentServlet</display-name>
    <servlet-name>MailingListAttachmentServlet</servlet-name>
    <servlet-class>com.silverpeas.external.mailinglist.servlets.AttachmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MailingListRssServlet</servlet-name>
    <url-pattern>/rssmailinglist/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MailingListRequestRouter</servlet-name>
    <url-pattern>/Rmailinglist/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MailingListAttachmentServlet</servlet-name>
    <url-pattern>/mailingListAttachment/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GoToMailingListMessage</servlet-name>
    <url-pattern>/mailinglistMessage/*</url-pattern>
  </servlet-mapping>
</web-app>