
<!--

.domainName            {font-family : "Verdana", serif; font-size : 13pt; font-weight : bold }
.componentName         {font-family : "Verdana", serif; font-size : 13pt; font-weight : bold }
.componentNav          {font-family : "Verdana", serif; font-size : 12px }

.a { font-size: 10px; font-weight: bold; color: #666666; text-decoration: none}
.txttitrecol { font-size: 10px; font-weight: bold; color: #FFFFFF}
.txtlibform { font-size: 8pt; font-weight: bold; color: #0099CC}

.intfdcolor { background-color: #9999FF}
.intfdcolor2 { background-color: #e2e2e2} 
.intfdcolor3 { background-color: #FF9900}
.intfdcolor4 { background-color: #FFFFFF }
.intfdcolor5 { background-color: #CCCCFF}
.intfdcolor6 { background-color: #FFFFCC }

.TitreColonneTableau {  font-size: 10px; font-weight: bold; color: #000000}
.chiffreCalendrier {  font-size: 10px; color: #000000; text-decoration: none; font-weight: bold}

/*
Style pour ButtonWA & ButtonWA2
*/
.buttonStyle        { background-color : #9999FF; font-size: 10px; text-decoration: none; font-weight : bold; color : #000000}

/*
Style pour ButtonWA2
*/
.buttonColorLight   { background-color : #BFBFFF}
.buttonColorDark    { background-color : #7D7DF5}

/*
Style pour TabbedPaneWA & TabbedPaneWA2
*/
.ongletOn           { background-color: #9999FF; font-size: 8pt; font-weight: bold; color: #ffffff; text-decoration: none} 
.ongletOff          { background-color: #7D7DF5; font-size: 8pt; font-weight: bold; color: #000000; text-decoration: none}
.ongletColorLight   { background-color: #BFBFFF}
.ongletColorDark    { background-color: #5E5EE0}

/*
Style pour TabbedPaneWA3
*/
.couleurCadre       { background-color: #DEDEDE}
.couleurFenetre     { background-color: #9999FF}
.styleOngletOn      { background-color: #DEDEDE; font-size: 10px; font-weight: bold; color: #000000; text-decoration: none}
.styleOngletOff     { background-color: #5A5A5A; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.titreFenetre       { font-size: 13pt; font-weight: bold; color: #000000}
.legalInformation   { font-size: 10px; color: #999999}
.labelFormulaire    { font-size: 10px; font-weight: bold; color: #333333}




-->
