
<!--

td { font-family: Verdana, Arial, Helvetica, sans-serif} 
a { font-size: 10px; color: #000000 }
input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000000 }
textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000000 }
select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000 }
.selectNS { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000000 }

.titremodule { font-size: 13pt; font-weight: bold; color: #000000 } 
.txtnote { font-size: 10px; color: #000000 ; font-family: Verdana, Arial, Helvetica, sans-serif ;text-decoration: none}

.txtnav { font-size: 10pt; font-weight: bold; color: #000000 } 
.txtnav2 { font-size: 10pt; font-weight: bold; color: #FFFFFF}
th {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #000000}





-->
