.rss_exemple {
	float:left;
	width:200px;
	height:130px;
	margin:0 10px 10px 0;
}

.rss_exemple ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rss_exemple ul li a {
	text-decoration:underline;
	line-height:150%;
}

.clear {
	clear:both;
}

#rssNews ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#rssNews ul li.item-channel{
	min-height:22px;
	padding:0;
	margin:0 0 8px 0;
	position:relative;
	clear:both;
	border:1px solid #CCC;
	border-radius: 8px;
	padding:8px;
}

#rssNews.no-agregate ul li.item-channel{
	min-height:20px;
	padding:0;
	margin:0 0 8px 0;
	position:relative;
	clear:both;
	border:1px solid #CCC;
	border-radius: 8px;
	padding:8px;
}
#rssNews.no-agregate  {
	clear:both;
}
#rssNews.no-agregate > ul > li{
	width:48%;
	margin-bottom:20px;
	min-width:420px;
}

#rssNews.no-agregate > ul > li.left{
	float:left;
	clear:left
}
#rssNews.no-agregate > ul > li.right{
	float:right;
	clear:right
}

.title-item-rssNews {
	margin:0;
	padding:3px 0 0 22px;
}

.no-agregate .title-item-rssNews {
	padding:0px 0 0 22px;
}

.title-item-rssNews a {
	color:#1155CC;
	text-decoration:underline;
	font-size:13px;
}

.channelName-rssNews {
	position:absolute;
	right:50px;
	top:3px;
	text-align:right;
	font-size:13px;
	color:#333;
}

.lastUpdate-item-rssNews {
	position:absolute;
	right:50px;
	top:19px;
	text-align:right;
	font-size:11px;
	color:#333;
}

.no-agregate  .lastUpdate-item-rssNews {
	right:8px;
	top:10px;
	background-color:#FFF
}

.img-item-rssNews {
	position:absolute;
	top:4px;
	right:4px;
	max-width:40px;
	max-height:30px;
	height:auto;
}
.no-agregate .img-item-rssNews {
	position:relative;
	max-height:30px;
	width:auto;
}

.deploy-item {
	position:absolute;
	left:8px;
	top:11px;
}
.no-agregate  .deploy-item {
	top:10px;
}

.description-item-rssNews
 {
	padding:1.5%  0 0 1.5% ;
}

/*hack ie7*/
*+html .description-item-rssNews p {
	height:100%;
}
.itemDeploy {
	display:none;
}

#adminChannels {
	margin-bottom:20px;
}

#adminChannels h2, .title-channel {
	background:#fff url(../icons/rss.gif) top left no-repeat;
	font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 0 0 8px 22px;
    text-align: left;
	color:#333;
	position:relative;
}

.title-channel {
	background:#fff url() top left no-repeat;
	padding: 0 0 8px 0px;
	font-size: 13px;
}

.title-channel  img {
	vertical-align:baseline;
}

.title-channel .update {
	position:absolute;
	top:0;
	right:18px;
}

.title-channel .delete {
	position:absolute;
	top:0;
	right:0px;
}
#agregateWelcome {
    border-left: 6px solid #E4E4E4;
    color: #666666;
    font-weight: bold;
    padding: 8px;
	margin-bottom:8px;
}

.sousNavBulle {
	float:none;
	clear:both;
	margin-bottom:8px;
}
.sousNavBulle .filter {
	position:relative;
}

.sousNavBulle  > div {
	padding:0 0 0 8px;
	font-size:12px;
}

.sousNavBulle .filter a  {
	padding-right:48px;
	font-size:12px;
}

.sousNavBulle  a  {
	font-size:12px;
}
.sousNavBulle .filter .operation-chanel{
	position:absolute;
	top:0;
	right:11px;
	
}

.sousNavBulle .filter .operation-chanel a {
	background-color: transparent;
    border:0;
    margin-right: 0;
    padding:0;
	line-height:0;
}

.sousNavBulle .filter .operation-chanel a img{
	height:14px;
	width:14px;
}

.btn-deploy-all-item.bend-all-item {
	display:none;
}

.btn-deploy-all-item:hover {
	color:#666699;
}

.btn-deploy-all-item ,
#dynamicalLoad,
#displaying,
#displaying a{
	border:1px solid #ccc;
	border-radius:8px;
	padding:8px;
	width:105px;
	font-size:13px;
	float:left;
	margin-right:8px;
	position:relative;
	z-index:1000;
	cursor:pointer
}
#dynamicalLoad{
	width:135px;
}

#dynamicalLoad span {
	padding-left:24px;
	background:transparent url(../icons/reload.png) top left no-repeat;
    
}

#dynamicalLoad:hover span{
	background:transparent url(../icons/reload-hover.png) top left no-repeat;
	
}

#displaying{
	width:210px;
	cursor:inherit;
	
}
#displaying  a {
	display:block;
	border:0;
	width:20px;
	padding:8px 4px;
	margin-right:0;
	border-left:1px solid #ccc;
	position:absolute;
	border-radius:0 8px 8px 0 ;
	top:0;
	right:0
}

#displaying a:first-child {
	right:28px;
	border-radius:0 0 0 0;
}

#displaying  a.active  {
	background-color: #747474;
    color: #FFFFFF;
}

#displaying  a:hover  {
	background-color: #F1790F;
    color: #FFFFFF;
}
.btn-deploy-all-item  img{
	vertical-align:middle;
}

hr#sep-no-agregate {
	height:0;
	border:1px solid #EAEAEA;
	border-top:0;
	line-height:0;
	margin:0 0 12px 0;
	padding:0;
	clear:both;
}

body.portlet .cellBrowseBar, body.portlet .cellOperation {
  display: none;
}
