.rss_exemple {
	float:left;
	width:200px;
	height:130px;
	margin:0 10px 10px 0;
}

.rss_exemple ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.rss_exemple ul li a {
	text-decoration:underline;
	line-height:150%;
}

.clear {
	clear:both;
}

#rssNews ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
#rssNews ul li.item-channel{
	min-height:32px;
	padding:0;
	margin:0 0 8px 0;
	position:relative;
	clear:both;
	border:1px solid #CCC;
	border-radius: 8px;
	padding:8px;
}

#rssNews.no-agregate ul li.item-channel{
	min-height:20px;
	padding:0;
	margin:0 0 8px 0;
	position:relative;
	clear:both;
	border:1px solid #CCC;
	border-radius: 8px;
	padding:8px;
}
#rssNews.no-agregate  {
	clear:both;
}
#rssNews.no-agregate > ul > li{
	width:48%;
	margin-bottom:20px;
	min-width:420px;
}

#rssNews.no-agregate > ul > li.left{
	float:left;
	clear:left
}
#rssNews.no-agregate > ul > li.right{
	float:right;
	clear:right
}

.title-item-rssNews {
	margin:0;
	padding:6px 0 0 22px;
}

.no-agregate .title-item-rssNews {
	padding:0px 0 0 22px;
}

.title-item-rssNews a {
	color:#1155CC;
	text-decoration:underline;
	font-size:13px;
	font-family:Segoe UI, verdana;
}

.channelName-rssNews {
	position:absolute;
	right:50px;
	top:0;
	text-align:right;
	font-family:Segoe UI, verdana;
	font-size:13px;
	color:#333;
}

.lastUpdate-item-rssNews {
	position:absolute;
	right:50px;
	top:16px;
	text-align:right;
	font-family:Segoe UI, verdana;
	font-size:11px;
	color:#333;
}

.no-agregate  .lastUpdate-item-rssNews {
	right:8px;
	top:10px;
	background-color:#FFF
}

.img-item-rssNews {
	position:absolute;
	top:4px;
	right:4px;
	max-width:40px;
	max-height:40px;
	height:auto;
}
.no-agregate .img-item-rssNews {
	position:relative;
	max-height:30px;
	width:auto;
}

.deploy-item {
	position:absolute;
	left:8px;
	top:16px;
}
.no-agregate  .deploy-item {
	top:10px;
}

.description-item-rssNews
 {
	padding:1.5%  0 0 1.5% ;
	font-family:Segoe UI, verdana;
	font-size:13px;
}

/*hack ie7*/
*+html .description-item-rssNews p {
	height:100%;
}
.itemDeploy {
	display:none;
}

#adminChannels {
	margin-bottom:20px;
}

#adminChannels h2, .title-channel {
	background:#fff url(../icons/rss.gif) top left no-repeat;
	font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 0 0 8px 22px;
    text-align: left;
	color:#333;
	position:relative;
}

.title-channel {
	background:#fff url() top left no-repeat;
	padding: 0 0 8px 0px;
	font-size: 13px;
}

.title-channel  img {
	vertical-align:baseline;
}

.title-channel .update {
	position:absolute;
	top:0;
	right:26px;
}

.title-channel .delete {
	position:absolute;
	top:0;
	right:8px;
}
#agregateWelcome {
    border-left: 6px solid #E4E4E4;
    color: #666666;
    font-weight: bold;
    padding: 8px;
	margin-bottom:8px;
}

#dynamicalLoad {
	background:transparent url(../icons/reload.png) top left no-repeat;
    line-height: 16px;
    margin: 0 0 10px 0;
    padding: 0 8px 8px 22px;
	color:#F1790F;
	font-size:16px;
	float:right;
}
#dynamicalLoad:hover{
	background:transparent url(../icons/reload-hover.png) top left no-repeat;
	color: #666666;
}

