.inlineMessage {
  text-align: left;
  padding-left: 50px;
  margin-top: 0px;
}

.deploy-item,
.processManager-main #filterLabel #refresh {
  position: absolute;
  top: 1em;
  right: 1em;
}

.deploy-item img {
  border: 0
}

.bgDegradeGris {
  position: relative;
}

.btn-closed {
  margin: 1em;
  display: block;
  text-align: right;
}

.btn-deploy-all-item{
  margin: 1em 0;
  display: inline-block;
}

.txt-align-right {
  text-align: right;
}

.inlineMessage.neutral {
  background-color: #EFEFEF;
  border-color: #CCC;
}

.processManager-main #filter {
  margin: 1em 0;
}

.processManager-main #filter #filterForm .forms {
  margin: 1em;
}

.processManager-main #roles {
  margin-left: 1em;
  margin-bottom: 1em;
}

.processManager-main .arrayPane .icon {
  border: 0;
  width: 15px;
  height: 15px;
}

.noty_text a {
  text-decoration: underline;
}

.inlineMessage a.button {
  background-color:#F4F4F4;
  background-image: url("../../../util/icons/gradientSVG.jsp?from=fff&to=e5e5e5&vertical=0&horizontal=100");
  -moz-background-size: 100%;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  color: #4C4C4C;
  line-height: 52px;
  margin: 0px 10px;
  padding: 7px 20px;
  text-decoration: none;
}

#all-remplacement {
  width: 45%;
  float: right;
  margin-left: 3%;
  margin-right: 2%;
  padding-top: 1em;
}

#my-remplacement {
  width: 46%;
  float: right;
  padding-right: 3%;
  border-right: 1px solid #ccc;
}

/* si vu lecteur bouton de création d'un remplacement à mettre avant */
#my-remplacement.lecteur-view {
  width: 100%;
  float: none;
  padding-right: 0;
  border: 0;
  position: relative;
}

#my-remplacement.employe {
  width: 100%;
  float: none;
  padding-right: 0;
  border: 0;
  position: relative;
}

#my-remplacement #menubar-creation-actions {
  margin: 1em 0;
}

.as-incumbent li .incumbent,
.as-substitute li .substitute {
  display: none;
}

.replacement-module .substitute, .replacement-module .incumbent {
  display: inline;
}

.replacement-module .all .incumbent::before {
  content: '[';
}

.replacement-module .all .incumbent::after {
  content: ']';
}

#all-remplacement .all li .substitute {
  font-weight: bold;
}

.header.title h3 {
  margin: 0em 0 1em;
  padding: 0;
  font-size: 130%;
  font-weight: 100;
  line-height: 90%;
}

#all-remplacement .header.title h3 {
  margin: 1em 0 1em;
}

.ui-dialog .replacement-form {
  width: 550px;
}

.replacement-form label {
  white-space: nowrap;
}

.replacement-module .as-substitute {
  margin-top: 3em
}

.replacement-module ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.replacement-module li {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 13px 82px 13px 13px;
  margin: 0 0 1em 0;
  position: relative;
}

.replacement-module li .actions {
  position: absolute;
  right: 13px;
  top: 13px;
}

.replacement-module li .period {
  font-weight: bold;
}

#replacement-module .silverpeas-list-item .replacement-item {
  display: flex;
  flex-flow: row wrap;
}

#replacement-module .silverpeas-list-item .replacement-matching-roles {
  flex-basis: 50%;
}

#replacement-module .silverpeas-list-item .substitute,
#replacement-module .silverpeas-list-item .incumbent {
  flex-basis: 50%;
}

#replacement-module .silverpeas-list-item .period {
  order: 8
}

#replacement-module #all-remplacement .silverpeas-list-item .substitute {
  flex-basis: 35%;
}

#replacement-module #all-remplacement .silverpeas-list-item .incumbent {
  flex-basis: 30%;
}

#replacement-module #all-remplacement .silverpeas-list-item .replacement-matching-roles {
  flex-basis: 35%;
}

.replacement-role-filter .label {
  font-style: italic;
  padding: 5px;
}

.replacement-role-filter ul {
  display: inline;
  padding: 5px;
  margin: 0;
  list-style-type: none;
}

.replacement-role-filter ul li {
  display: inline;
  padding: 0;
  margin: 0;
}

.replacement-role-filter li a {
  cursor: pointer;
  background-color: #FFF;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  padding: 3px 5px;
  border-radius: 4px;
  display: inline-block;
  margin: 0.25em;
}

.replacement-role-filter li a:hover,
.replacement-role-filter li a:focus {
  border: 1px solid #5c5c5c;
  background-color: #EEE;
  color: #5c5c5c;
}

.replacement-role-filter li a.item-selected {
  background-color: #5c5c5c;
  border: 1px solid #5c5c5c;
  color: #FFF;
  padding-right: 1.5em;
  position: relative;
}

.replacement-role-filter li a.item-selected:hover::after,
.replacement-role-filter li a.item-selected:focus::after {
  content: 'x';
  font-family: Comic Sans Ms, sans-serif;
  font-weight: 600;
  position: absolute;
  right: 0.5em;
  top: 1px;
}

.replacement-matching-roles .error {
  font-weight: bold;
  color: #CE6F6F;
}

#replacement-module .inlineMessage {
  text-align: center;
  padding-left: inherit;
}

#replacement-module .inlineMessage .your-role {
  font-weight: bold;
}

@media screen and (min-width: 10px) and   (max-width: 800px) {

  #my-remplacement {
    width: 100%;
    float: none;
    padding-right: 0;
    border-right: 0;
  }

  #all-remplacement {
    width: 100%;
    float: none;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 0;
  }

  #all-remplacement #menubar-creation-actions {
    margin: 0;
  }

}