<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2012 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<web-app>
  <filter>
    <filter-name>whitePagesComponentRequestRouterFilter</filter-name>
    <filter-class>com.silverpeas.whitePages.filters.ComponentRequestRouterFilter</filter-class>
  </filter>
  <filter>
    <filter-name>whitePagesLoginFilter</filter-name>
    <filter-class>com.silverpeas.whitePages.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>whitePagesComponentRequestRouterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>whitePagesLoginFilter</filter-name>
    <url-pattern>/admin/jsp/MainFrameSilverpeasV4.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>whitePagesLoginFilter</filter-name>
    <url-pattern>/admin/jsp/MainFrameSilverpeasV5.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>WhitePagesRequestRouter</display-name>
    <servlet-name>WhitePagesRequestRouter</servlet-name>
    <servlet-class>com.silverpeas.whitePages.servlets.WhitePagesRequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WhitePagesRequestRouter</servlet-name>
    <url-pattern>/RwhitePagesPDC/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhitePagesRequestRouter</servlet-name>
    <url-pattern>/RwhitePages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WhitePagesRequestRouter</servlet-name>
    <url-pattern>/RwhitePagesPeas/*</url-pattern>
  </servlet-mapping>
</web-app>

