/* definition de style global pour utiliser dans différent composant */

.txtchoixform {
	font-weight: normal;
}

.linkMore {
	display: block;
	clear: both;
	background: #EFF9E3 url(../icons/open.gif) right center no-repeat;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	line-height: 30px;
	padding: 0 15px;
	margin: 10px 0;
	color: #4C4C4C;
}

.linkMore:hover,
.linkMore:focus {
	background-color: #E9F7D7;
}

.zoneNavAndSearch {
	background: #EAEAEA url(../icons/arrow/bg_tri.png) bottom left no-repeat;
	padding: 14px;
	margin: 10px;
	width: 96%;
}

/* util pour A B C D , pour Afficher : Categorie1 Catégorie2 */

.abcdAndNavCategory a {
	border: 1px solid #CECECE;
	padding: 2px 4px;
	margin-right: 3px;
	background-color: #FFF;
	color: #AFAFAF;
	text-decoration: none;
	line-height: 220%;
}

.abcdAndNavCategory a.active {
	background-color: #B5B5B5;
	color: #FFF;
}

.abcdAndNavCategory a:hover,
.abcdAndNavCategory a:focus {
	background-color: #BFBFBF;
	color: #FFF;
}

/* util pour listing fiche utilisateur, presentation like annuaire */

.listinUsers .message_list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.listinUsers .message_list li.intfdcolor {
	padding: 0px;
	margin:0 0.5em 0.5em 0;
	position: relative;
	flex-grow: 1;
	flex-basis:380px;
	border: 1px solid var(--border-color-card);
	background:var(--bgColor-card);
	border-radius: var(--radius-bloc);
}

.listinUsers .profilPhoto {
	float: left;
	margin: 1em;
	border: 0;
	overflow: initial;
}

.listinUsers .profilPhoto a {
	border: var(--shadow-border-card);
	width: var(--width-avatar-card);
	height: var(--height-avatar-card);
	overflow: hidden;
	border-radius: var(--radius-avatar-card);
	box-shadow: var(--shadow-avatar-card);
	display: block;
}

.listinUsers .profilPhoto img {
	min-height: var(--height-avatar-card);
	min-width: var(--width-avatar-card);
	height: auto;
	width: auto;
}

.listinUsers .action {
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-size: 0.95em;
}

.listinUsers #pagination {
	clear: both;
	text-align: center;
}

.listinUsers .info ul li.infoConnection img {
	position: absolute;
	width: 12px;
	height: auto;
	top: 1em;
	right: calc(14px + 1em);
}

.listinUsers .info ul li.infoVisibility img {
	position: absolute;
	top: 1em;
	right: calc(10px + 14px + 2em);
}

.listinUsers .info ul {
	margin: 0;
	padding: 0;
}

.listinUsers .info ul li {
	display: list-item;
	list-style-type: none;
	width: 100%;
}

.listinUsers .info ul {
	padding:1em 1em 1em 0;
	float: left;
	color: var(--color-text-second-niveau);
	width:calc( 100% - var(--width-avatar-card) - 3em );
}

.listinUsers .info ul a {
	color: var(--color-text-second-niveau);
}

.listinUsers .info ul a:hover {
	color: var(--color-lien-action)
}

.listinUsers .info ul li.userName a {
	color: var(--color-text);
	font-weight: 700;
	padding-right:calc( 15px + 12px + 2em ) ;
}

.listinUsers .info ul li.userName a:hover {
	color: var(--color-lien-action);
}


li.userType {
	font-weight: 700;
	padding-top: 1em;
}

.listinUsers .mail {
	text-decoration: underline;
	color: var(--color-lien-action);
}

.link {
	border-bottom: 1px solid var(--color-lien-action);
	color: var(--color-lien-action);
	display: block;
	padding: 0 0 0.15em;
	margin-bottom: 0.2em;
}

.listinUsers .link {
	display: block;
}

.link:hover,
.link:focus {
	color: var(--color-action);
	border-bottom: 1px solid var(--color-action);
}

.listinUsers .action .invitation {
	display: none;
}

.listinUsers .NameLink {
	color: var(--color-lien-action);
}


/* util pour les fiches utilisateur like annuaire */

.userProfil .info {
	padding: 8px;
	height: 100%;
}

.userProfil .infoConnection img {
	position: absolute;
	top: 1em;
	right: 0.5em;
	width: 14px;
}

.userProfil .statut img {
	position: absolute;
	right:calc( 14px + 1em );
	top: 1em;
}

.userProfil .statut {
	font-style: italic;
	padding: 1em 0 0;
	margin: 0;
}

.userProfil .action .invitation {
	display: none;
}

.userProfil {
	padding:0.5em;
	position: relative;
	flex-basis: 200px;
	margin-right:1em;
}

.userProfil .userName {
	font-weight: 700;
	font-size:1.12em;
	margin: 0;
	padding: 0;
}

.userProfil address {
	font-style: normal;
}

.userProfil .action {
	margin-top: 5px;
}

.userProfil .action .link {
	margin-bottom: 0.75em;
	float: right;
	clear: right;
	font-size: 0.9em;
}

.hautFrame:has(.sheet) {
	display: flex;
	flex-wrap: wrap;
}
.hautFrame:has(.sheet) > center{
	flex-basis: 100%;
}

.sheet {
	flex-grow: 1;
}

.sheet .divSee {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.sheet address {
	font-style: normal;
}

/*- [ whitePages BEGIN ] --------------------------- */

/*- Zone de recherche --------- */
#whitePages #search ul,
#whitePages #search li,
#whitePages #search p,
#whitePages #search fieldset,
#whitePagesSheet .sheet ul,
#whitePagesSheet .sheet li,
#whitePagesSheet .sheet p,
#whitePagesSheet .sheet fieldset {
	padding: 0;
	margin: 0;
}

#whitePages #search .txtexform {
	display: inline-block;
	line-height:var(--height-input);
	margin: 0 0 0 1em;
	padding: 0;
	font-style: italic;
	font-size: 0.9em;
	color:var(--color-text-second-niveau);
}

#whitePages #search .txtexform span {
	font-style: italic;
}

#whitePages #search div.arbre {
	clear: both;
}


#whitePages #search .linkMore {
	background-position: 492px center;
	width: 488px;
}

#whitePages #search label {
	clear: left;
	display: block;
	float: left;
	width:10em;
	padding:0.25em 1em 0.25em 0.25em;
	line-height: 20px;
}
#used_pdc .field {
	padding-left:18px;
}
#whitePages #search #used_pdc label {
	width: calc( 10em - 18px );
}

#whitePages #search label.labelRadio,
#whitePages #search label.labelCheckbox {
	display: inline;
	float: none;
	width: auto;
	padding-right: 20px;
	height: 10px;
}

#whitePages #search input,
#whitePages #search select {
	width:20em;
}



#whitePages #search input.checkbox,
#whitePages #search input.radio,
.sheet input.checkbox,
.sheet input.radio {
	background-color: transparent;
	border: 0;
	width: 14px;
	float: none;
	display: inline;
	height: 14px;
	vertical-align: middle;
}

#whitePages #search input.dateToPick {
	width: 50px;
}

#whitePages #search fieldset {
	clear: both;
	border: 0;
	padding: 8px 0 10px 225px;
}

#whitePages #search .arbre fieldset legend {
	margin: 10px 0 0 -216px;
	background: transparent url(../icons/minusTreeT.gif) -8px 0 no-repeat;
	padding-left: 12px;
	position: absolute;
}

#whitePages #search ul li,
#whitePagesSheet .sheet ul li {
	list-style-type: none;
	clear: left;
}

#whitePages #search .arbre {
	background: transparent url(../icons/minusTreeI.gif) 8px 0px repeat-y;
	margin-bottom: 5px;
}

#whitePages #search .arbre label {
	padding-left: 13px;
	margin-left: 9px;
	width: 159px;
	background: transparent url(../icons/minusTreeT.gif) -8px 9px no-repeat;
	display: inline;
}

#whitePages #search .arbre fieldset label {
	padding: 0;
	margin: 0;
	background-image: none;
}


#whitePages #search #secondaryAxe,
#whitePages #search #additionalElements {
	display: none;
}

#whitePages #search #btnValidSearch {
	padding-left:180px;
	clear: left;
}

#whitePages #search #btnValidSearch table {
	float: left;
}

#whitePages .abcdAndNavCategory {
	padding-top: 8px;
}

/*- Listing expert --------- */
#whitePages form {
	padding: 0;
	margin: 0;
}

#whitePages .listinUsers input.check {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}


#whitePagesSheet .profilPhoto {
	height: auto;
	margin: 7px 6px;
	width: 108px;
}

#whitePagesSheet .profilPhoto img {
	width: 108px;
}

.pdcPosition h3 {
	color: #26334A;
}

.pdcPosition ul {
	background-color: #E9E9E9;
	font-weight: bold;
	color: #4D4D4D;
	list-style-type: none;
	padding: 8px;
	line-height: 140%;
	margin: 0 0 5px 0;
}

.pdcPosition ul li {
	padding: 0;
	margin: 0;
}

.pdcPosition ul ul {
	font-weight: normal;
	padding: 0 8px;
	list-style-image: url(../icons/list-puce-green.gif);
}

.pdcPosition ul ul li {
	margin-left: 10px;
}

#theSheets .sousNavBulle img {
	vertical-align: middle;
	margin: 0 5px;
}

.sheet table.oneSheet {
	margin-bottom: 10px;
}

.sheet table.oneSheet td {
	border-bottom: 1px solid #E5E5E5;
	padding-right: 60px;
}

#expert-classification {
	width: 98%;
}

/*- [ whitePages END ] --------------------------- */