<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  <display-name>ProcessManager War</display-name>
  <description>no description</description>
  <servlet>
    <servlet-name>ProcessManagerRequestRouter</servlet-name>
    <display-name>ProcessManagerRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.silverpeas.processManager.servlets.ProcessManagerRequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessManagerRequestRouter</servlet-name>
    <url-pattern>/RprocessManager/*</url-pattern>
  </servlet-mapping>


  <!-- tests -->
  <servlet-mapping>
    <servlet-name>ProcessManagerRequestRouter</servlet-name>
    <url-pattern>/RdemandeConges/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>

