<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  <display-name>Yellowpages War</display-name>
  <description>no description</description>
  <servlet>
    <servlet-name>YellowpagesRequestRouter</servlet-name>
    <display-name>YellowpagesRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.webactiv.yellowpages.servlets.YellowpagesRequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YellowpagesRequestRouter</servlet-name>
    <url-pattern>/Ryellowpages/*</url-pattern>
  </servlet-mapping>
</web-app>

