<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

  <!-- Resource bundle default location -->
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>templates.default</param-value>
  </context-param>

  <!--
      This is new in 2.4.  This defines a servlet filter which filters all requests. 
   -->

  <filter>
    <filter-name>WikiServletFilter</filter-name>
    <filter-class>com.ecyrd.jspwiki.ui.WikiServletFilter</filter-class>
  </filter>
  <filter>
    <filter-name>WikiJSPFilter</filter-name>
    <filter-class>com.ecyrd.jspwiki.ui.WikiJSPFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/wiki/jsp/attach/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/atom/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/dav/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/RPCU/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/RPC2/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiServletFilter</filter-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiJSPFilter</filter-name>
    <url-pattern>/wiki/jsp/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WikiJSPFilter</filter-name>
    <url-pattern>/Rwiki/*</url-pattern>
  </filter-mapping>

  <!--
       HttpSessionListener used for managing WikiSession's.
     -->
  <listener>
    <listener-class>com.ecyrd.jspwiki.auth.SessionMonitor</listener-class>
  </listener>

  <!--
    Now, let's define the XML-RPC interfaces. You probably don't have to touch these. First, we'll define the standard
    XML-RPC interface.
  -->
  <servlet>  
    <display-name>WikiRequestRouter</display-name>    
    <servlet-name>WikiRequestRouter</servlet-name>
    <servlet-class>com.silverpeas.wiki.servlets.WikiRequestRouter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>XMLRPC</servlet-name>
    <servlet-class>com.ecyrd.jspwiki.xmlrpc.RPCServlet</servlet-class>
    <init-param>
      <param-name>handler</param-name>
      <param-value>com.ecyrd.jspwiki.xmlrpc.RPCHandler</param-value>
    </init-param>

    <init-param>
      <param-name>prefix</param-name>
      <param-value>wiki</param-value>
    </init-param>
  </servlet>

  <!--
       OK, this then defines that our UTF-8 -capable server.
     -->

  <servlet>
    <servlet-name>XMLRPC-UTF8</servlet-name>
    <servlet-class>com.ecyrd.jspwiki.xmlrpc.RPCServlet</servlet-class>
    <init-param>
      <param-name>handler</param-name>
      <param-value>com.ecyrd.jspwiki.xmlrpc.RPCHandlerUTF8</param-value>
    </init-param>

    <init-param>
      <param-name>prefix</param-name>
      <param-value>wiki</param-value>
    </init-param>
  </servlet>

  <!-- JSON AJAX API -->
  <servlet>
    <servlet-name>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-name>
    <servlet-class>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-class>
  </servlet>

  <!-- Atom Publishing Protocol -->
  <servlet>
    <servlet-name>ATOM</servlet-name>
    <servlet-class>com.ecyrd.jspwiki.rpc.atom.AtomAPIServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DAVServlet</servlet-name>
    <servlet-class>com.ecyrd.jspwiki.dav.WikiDavServlet</servlet-class>
  </servlet>

  <!--
       Attachment exchange handler.
     -->

  <servlet>
    <servlet-name>AttachmentServlet</servlet-name>
    <servlet-class>com.ecyrd.jspwiki.attachment.AttachmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WikiRequestRouter</servlet-name>
    <url-pattern>/Rwiki/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AttachmentServlet</servlet-name>
    <url-pattern>/attach/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-name>
    <url-pattern>/JSON-RPC</url-pattern>
  </servlet-mapping>

</web-app>
