<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2009 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
  <bean id="messageChecker" class="com.silverpeas.mailinglist.service.job.MessageChecker">
    <property name="protocol" value="${mail.server.protocol}" />
    <property name="login" value="${mail.server.login}" />
    <property name="password" value="${mail.server.password}" />
    <property name="mailServer" value="${mail.server.host}" />
    <property name="port" value="${mail.server.port}" />
    <property name="leaveOnServer" value="${mail.server.leave}" />
    <property name="mailSession" ref="mailSession" />
    <property name="mailProcessor" ref="mailProcessor" />
    <property name="mailingListService" ref="mailingListService" />
  </bean>


  <bean id="mailProcessor" name="mailProcessor" class="com.silverpeas.mailinglist.service.job.MailProcessor">
    <property name="cleaner" ref="htmlCleaner" />
  </bean>

  <bean id="htmlCleaner" name="htmlCleaner" class="com.silverpeas.mailinglist.service.util.neko.NekoHtmlCleaner" />

  <bean id="mailSession" name="mailSession" class="javax.mail.Session" factory-method="getInstance">
    <constructor-arg ref="systemProperties" type="java.util.Properties" />
  </bean>

  <bean id="systemProperties" class="java.lang.System" factory-method="getProperties" />
</beans>