#fk-table-view .selected, #fk-table-view .selected a {
  background-color: #7fd0ff !important;
  color: #ffffff !important;
}

#fk-table-view a {
  display: block;
}

#fk-table-view .pageNav a {
  display: inline;
}

.foreign-key-value {
  cursor: pointer;
}

#row-edition .champs {
  white-space: nowrap;
}

#selection {
  display: table;
}

#table-selection {
  display: inline-table;
}

#selection label,
#selection .selectNS {
  display: table-cell;
  vertical-align: middle;
}