<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!--  ce ficheir est inclu via le web.xml du component mailing list qui inclut tous les spring-*.xml -->
  <bean id="organizationChartServicesFactory" name="organizationChartServicesFactory"
    class="com.silverpeas.components.organizationchart.service.ServicesFactory"
    factory-method="getInstance" />

  <bean id="organizationChartService" name="organizationChartService"
    class="com.silverpeas.components.organizationchart.service.OrganizationChartLdapServiceImpl">
  	<property name="controller" ref="organizationChartController" />
  </bean>

  <bean id="organizationChartController" name="organizationChartController"
    class="com.stratelia.webactiv.beans.admin.OrganizationController" />
    
</beans>