@CHARSET "ISO-8859-1";

#blog {
	/*text-align: center;*/
}

#blog #blogContainer { 
	/*width:750px; */
	margin: 0 auto;
	text-align: left;
}

#blog #blogContainer #bandeau {
	background-image: url(/silverpeas/blog/jsp/icons/fondBandeau.jpg);
	background-repeat: repeat-x;
	height: 90px;
	text-align: center;
	line-height: 90px;
	margin-top: 10px;
}

#blog #blogContainer #bandeau a {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#blog #blogContainer #backHomeBlog { 
	/* text-align: center; */	
}

#blog #blogContainer #postsList,#blog #blogContainer #viewPost {
	width: 70%;
	padding: 10px;
	float: left;
}

#blog #blogContainer #postsList,#blog #blogContainer #viewPostDraft {
	width: 70%;
	padding: 10px;
	float: left;
}

#blog #blogContainer #postsList div.post {
	margin-bottom: 15px;
}

#blog #blogContainer #navBlog {
	width: 180px;
	float: right;
	margin-bottom: 15px;
	margin-right: 15px;
}

#blog #blogContainer #footer {
	clear: both;
}

#blog .versCommentaires,#blog .categoryTicket,#blog .creatorTicket {
	color: #999999;
}

#blog .comment {
	color: black;
}

#blog .versTopic {
	color: #999999;
}

#blog #operationBlog a {
	color: #999999;
}

#blog .separateur {
	background-image: url(/silverpeas/blog/jsp/icons/separateur.gif);
	background-repeat: repeat-x;
	height: 20px;
}

#blog .zoneRecherche {
	font-size: 12px;
	color: #999999;
}

#blog .zoneRecherche form {
   margin:0;
   padding:0;
}

#blog .inputRecherche {
	height: 20px;
	width: 140px;
}

#blog .okRecherche {
	font-size: 14px;
	font-weight: bolder;
}

#blog .titreRecherche {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}

#blog #titreTopics {
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
	background-image: url(/silverpeas/blog/jsp/icons/fondTitresDroite.gif);
	background-repeat: repeat-x;
	height: 20px;
}

#blog #titreTopics a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
}

#blog #topics a {
	color: #999999;
}

.titreTicket a {
	/*width: 550px;*/
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.infoTicket {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}

.postDraft .titreTicket a {
	color: #FF6F6F;
}

.postDraft .infoTicket {
	color: #FF6F6F;
}

.postDraft .titreTicket .status {
	font-size: 16px;
	font-weight: bold;
	color: #FF6F6F;
}

.post .status {
	display: none;
}

#viewPost .status {
	display: none;
}

#viewPost .titreTicket {
	/*width: 550px;*/
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

#viewPostDraft .titreTicket {
	/*width: 550px;*/
	font-size: 16px;
	font-weight: bold;
	color: #FF6F6F;
}

#viewPostDraft .infoTicket {
	color: #FF6F6F;
}

#blog #titreArchive {
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
	background-image: url(/silverpeas/blog/jsp/icons/fondTitresDroite.gif);
	background-repeat: repeat-x;
	height: 20px;
}

#blog #archives a {
	color: #999999;
}

#blog #titreLiens {
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
	background-image: url(/silverpeas/blog/jsp/icons/fondTitresDroite.gif);
	background-repeat: repeat-x;
	height: 20px;
}

#blog #titreLiens a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bolder;
	color: #666666;
}

#blog #liens a {
	color: #999999;
}

.newCommentLabel {
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}