.cellBrowseBar {
	height: 3em;
	margin-bottom: 1em;
}

#blog #blogContainer #bandeau {
	background-color: var(--bgColor-bloc-fond-clair);
	border-top: var(--border-color-bloc-fond-clair);
	border-bottom: var(--border-color-bloc-fond-clair);
	margin-bottom: 1em;
}

#blog #blogContainer #bandeau h2 {
	padding: 0 0 0 0.5em;
	margin: 0;
}

#blog #blogContainer #bandeau h2 a,
#blogContainer #bandeau h2 a.txttitrecol {
	font-weight: normal;
	color: inherit;
	font-size: 1.3em;
	line-height: 2em;
}

#blog #blogContainer #postsList,
#blog #blogContainer #viewPost,
#blog #blogContainer #viewPostDraft {
	margin-right: calc(var(--right-side-width) + 1em);
}

#blog #blogContainer #postsList div.post {
	margin-bottom: 1em;
}

#blog #blogContainer #navBlog {
	width: var(--right-side-width);
	float: right;
}

#blog #blogContainer #navBlog .yuimenu {
	margin: 0;
	margin-bottom: 1em;
}

#navBlog #zoneRecherche form .sp_button {
	height:calc( var(--height-input) - 0.25em - 2px );
	padding:0.25em 0.5em;
	border-width: 1px;
}
#navBlog .bgDegradeGris ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navBlog .bgDegradeGris ul li {
	margin: 0.25em 0;
	padding: 0
}

#navBlog .bgDegradeGris ul.list_pdc_position li {
	margin: 0;
	padding: 0;
}

#navBlog .bgDegradeGris ul.list_pdc_position ul li {
	margin: 0 0 0 1px;
	padding: 0.25em 0
}

#navBlog .bgDegradeGris ul li a {
	padding: 0 0 0 1em;
	display: block;
	line-height: 1.5em;
}

#navBlog .bgDegradeGris ul li a:hover {
	background-color: var(--roll-hover-background);
}

#navBlog #menubar-creation-actions {
	margin: 1em 0;
}

#blog .versCommentaires,
#blog .categoryTicket,
#blog .creatorTicket {
	color: var(--color-text-second-niveau);
}

#blog .versCommentaires img {
	vertical-align: text-bottom
}

#blog #operationBlog a {
	display: block;
	line-height: 2em;
	padding-left: 1em;
}

#blog .separateur {
	height: 1em;
	border-bottom: 1px solid var(--color-trait-separateur);
}

#blog .separateur hr {
	display: none;
}

#blog #zoneRecherche form {
	margin: 0;
	padding: 0.5em;
	height: auto;
}

#blog .inputRecherche {
	width: 80%;
	margin-bottom: 0.25em;
	float: left;
}

#blog .titreRecherche {
	font-size: 100%;
	font-weight: bold;
}

.header h4 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.header h4 a {
	color: var(--color-titre-bloc-header);
	font-weight: bold;
}

#titreRecherche h4 {
	background: transparent url("/silverpeas/util/icons/Mot.gif") right top no-repeat;
	height: 16px;
}

#titreLiens h4 {
	background: transparent url("/silverpeas/util/icons/webLink.gif") right top no-repeat;
	height: 16px;
}

#topics h4 {
	background: transparent url("/silverpeas/util/icons/component/kmeliaSmall.gif") right top no-repeat;
	height: 16px;
}

#calendar td.txtnav3,
#calendar th.txtnav,
#calendar td.intfdcolor3 {
	padding: 0.5em 0.25em;
}

#calendar table table td.intfdcolor3 {
	background-color: #4D4D4D;
	line-height: 180%;
}

#archives ul {
	max-height: 15em;
	overflow: auto;
	overflow-x: hidden;
}

.titreTicket>a {
	font-size: 180%;
	font-weight: normal;
}

.infoTicket {
	font-size: 100%;
	font-weight: normal;
	color: var(--color-text-second-niveau);
}

.postDraft .titreTicket>a {
	color: var(--color-draft);
}

.post .status {
	display: none;
}

.post.postDraft .status {
	display: inline-block;
}

#viewPostDraft .status {
	font-size: 0.9em;
	color: var(--color-text-second-niveau);
}

#list-categoryTicket {
	padding-top: 0.5em
}

.versTopic {
	background-color: var(--bgColor-etiquette);
	border-radius: var(--radius-etiquette);
	color: var(--color-text-etiquette);
	display: inline-block;
	font-size: 0.9em;
	line-height: 1em;
	margin: 0 0.25em 0.15em 0;
	padding: 0.35em 0.5em;
	position: relative;
	z-index: 10;
}

.versTopic:hover {
	background-color: var(--bgColor-hover-etiquette);
	color: var(--color-text-hover-etiquette);
}

.titreTicket * {
	display: inline-block;
	vertical-align: middle;
}

#viewPost .status {
	display: none !important;
}

#viewPost .titreTicket {
	font-size: 180%;
	font-weight: normal;
}

#viewPostDraft .titreTicket {
	font-size: 180%;
	font-weight: normal;
	color: var(--color-draft);
}

#blog #blogContainer #footer {
	clear: both;
	margin-top: 10px;
}

#liens {
	clear: both;
}

fieldset#infoFieldset legend {
	background: transparent url(../../../util/icons/component/blogSmall.gif) 11px 0px no-repeat;
}

fieldset#infoFieldset .field {
	width: 100%;
}

fieldset#infoFieldset #creationArea .champs,
fieldset#infoFieldset #updateArea .champs {
	position: relative;
	padding-left: 40px;
}

fieldset#infoFieldset #creationArea .champs {
	margin-left: 0px;
}

fieldset#infoFieldset #updateArea.field,
fieldset#infoFieldset #creationArea.field {
	width: 46%;
}

#infoFieldset #creationArea .profilPhoto,
#infoFieldset #updateArea .profilPhoto {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	text-align: center;
}

#infoFieldset #creationArea .profilPhoto img,
#infoFieldset #updateArea .profilPhoto img {
	height: 30px;
	position: relative;
}

#header .legend {
	clear: both;
	padding-left: 15px;
}

#header .classification .legende {
	display: none;
}


/* RESPONSIVITY*/
@media only screen and (min-width:1600px) {

	#calendar {
		width: 49%;
		float: left;
	}

	#archives {
		width: 45%;
		float: left;
		margin-right: 5%;
	}

	#archives ul {
		height: 15em;
	}
}


@media only screen and (max-width:880px) {

	#blog #blogContainer #navBlog,
	#blog #blogContainer #postsList {
		width: auto;
		float: none;
		margin-right: 0;
	}
}