<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2009 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have recieved a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Almanach War</display-name>

  <servlet>
    <display-name>AlmanachRequestRouter</display-name>
    <servlet-name>AlmanachRequestRouter</servlet-name>
    <servlet-class>com.stratelia.webactiv.almanach.servlets.AlmanachRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToEvent</display-name>
    <servlet-name>GoToEvent</servlet-name>
    <servlet-class>com.stratelia.webactiv.almanach.servlets.GoToEvent</servlet-class>
  </servlet>
  <servlet>
    <display-name>AlmanachRssServlet</display-name>
    <servlet-name>AlmanachRssServlet</servlet-name>
    <servlet-class>com.stratelia.webactiv.almanach.servlets.AlmanachRssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlmanachRequestRouter</servlet-name>
    <url-pattern>/Ralmanach/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToEvent</servlet-name>
    <url-pattern>/Event/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlmanachRssServlet</servlet-name>
    <url-pattern>/rssalmanach/*</url-pattern>
  </servlet-mapping>
</web-app>

