<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2013 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.org/docs/core/legal/floss_exception.html"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <ctx:annotation-config/>

  <ctx:component-scan base-package="org.silverpeas.components.suggestionbox.model"/>
  <ctx:component-scan base-package="org.silverpeas.persistence" />

  <bean id="transactionFactory" class="org.silverpeas.persistence.TransactionFactory"
        factory-method="getFactory"/>

  <bean id="organizationController"
        class="org.silverpeas.components.suggestionbox.mock.OrganisationControllerMockWrapper"/>
  <bean id="suggestionBoxRepository"
        class="org.silverpeas.components.suggestionbox.mock.SuggestionBoxRepositoryMockWrapper"/>
  <bean id="suggestionRepository"
        class="org.silverpeas.components.suggestionbox.mock.SuggestionRepositoryMockWrapper"/>
  <bean id="attachmentService"
        class="org.silverpeas.components.suggestionbox.mock.AttachmentServiceMockWrapper"/>
  <bean id="subscriptionService"
        class="org.silverpeas.components.suggestionbox.mock.SubscriptionServiceMockWrapper"/>

  <bean id="suggestionBoxServiceFactory"
        class="org.silverpeas.components.suggestionbox.model.SuggestionBoxServiceFactory"
        factory-method="getFactory"/>

  <bean id="organisationControllerFactory"
        class="org.silverpeas.core.admin.OrganisationControllerFactory"
        factory-method="getFactory"/>

  <bean id="attachmentServiceFactory" class="org.silverpeas.attachment.AttachmentServiceFactory"
        factory-method="getInstance"/>

  <bean id="subscriptionServiceFactory" class="com.silverpeas.subscribe.SubscriptionServiceFactory"
        factory-method="getFactory"/>

  <util:list id="entities">
    <value>org.silverpeas.components.suggestionbox.model.SuggestionBox</value>
  </util:list>

  <import resource="spring-jpa.xml"/>

</beans>
