<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
  <display-name>InfoLetter War</display-name>
  <description>no description</description>
  <servlet>
    <servlet-name>InfoLetterRequestRouter</servlet-name>
    <display-name>InfoLetterRequestRouter</display-name>
    <description>no description</description>
    <servlet-class>com.stratelia.silverpeas.infoLetter.servlets.InfoLetterRequestRouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoLetterRequestRouter</servlet-name>
    <url-pattern>/RinfoLetter/*</url-pattern>
  </servlet-mapping>
</web-app>

