<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2011 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have recieved a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://repository.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<web-app>
  <display-name>Forums War</display-name>
  <filter>
    <filter-name>ExternalAccessFilter</filter-name>
    <filter-class>com.stratelia.webactiv.filter.ExternalAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExternalAccessFilter</filter-name>
    <url-pattern>/Rforums/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <display-name>ForumsRequestRouter</display-name>
    <servlet-name>ForumsRequestRouter</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.ForumsRequestRouter</servlet-class>
  </servlet>
  <servlet>
    <display-name>ForumsRssServlet</display-name>
    <servlet-name>ForumsRssServlet</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.ForumsRssServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>GoToMessage</display-name>
    <servlet-name>GoToMessage</servlet-name>
    <servlet-class>com.stratelia.webactiv.servlets.GoToMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumsRequestRouter</servlet-name>
    <url-pattern>/Rforums/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumsRssServlet</servlet-name>
    <url-pattern>/rssforums/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoToMessage</servlet-name>
    <url-pattern>/ForumsMessage/*</url-pattern>
  </servlet-mapping>
</web-app>

